﻿@model SampleDemoApp.Models.Person
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person Details</h2>
<div id="Summery" class="tab-pane fade in active">
    <div class="table-responsive panel">
        <table class="table">
            <tbody>

                <tr>
                    <td class="text-success"><i class="fa fa-user"></i> Full Name</td>
                    <td>@Model.FirstName @Model.LastName</td>
                </tr>
                <tr>
                    <td class="text-success"><i class="fa fa-list-ol"></i> Email Address</td>
                    <td>@Model.EmailId</td>
                </tr>
                <tr>
                    <td class="text-success"><i class="fa fa-book"></i> Date Of Birth</td>
                    @if (Model.DOB == null)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@String.Format("{0:d MMM yyyy}", Model.DOB)</td>
                    }                    
                </tr>
                <tr>
                    <td class="text-success"><i class="fa fa-group"></i> City</td>
                    <td>@Model.City</td>
                </tr>
                <tr>
                    <td class="text-success"><i class="fa fa-group"></i> User Type</td>
                    <td>@Model.UserType.UserTypeName</td>
                </tr>
                <tr>
                    <td class="text-success"><i class="fa fa-group"></i> User Status</td>
                    <td>@Model.UserStatus.UserStatusName</td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <button class="btn btn-success" id="btn-back">Back</button>
    </div>
</div>
