﻿@model List<SampleDemoApp.Models.Person>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-10">
        <h2>Person List</h2>
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("Add New User", "AddUser", "Person", new { @class = "btn btn-primary pull-right add-new-user" })
    </div>
</div>


@{
    if (Model.Count > 0)
    {
        <div class="row">
            <table class="table table-inverse table-bordered table-condensed table-responsive table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center ">First Name Last Name</th>
                        <th>EmailId</th>
                        <th>City</th>
                        <th class="text-center">DOB</th>
                        <th class="text-center">User Type</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var person in Model)
                        {
                            <tr>
                                <td class="text-center">@person.FirstName @person.LastName</td>
                                <td>@person.EmailId</td>
                                <td>@person.City</td>
                                @if (person.DOB == null)
                                {
                                    <td class="text-center">-</td>
                                }
                                else
                                {
                                    <td class="text-center">@String.Format("{0:d MMM yyyy}", person.DOB)</td>

                                }

                                <td class="text-center">@person.UserType.UserTypeName</td>
                                <td class="text-center action-list">

                                    <li>@Html.ActionLink("View", "View", new { id = person.Id }, new { @class = "view-person" })</li>
                                    <li>@Html.ActionLink("Edit", "Edit", new { id = person.Id })</li>
                                    <li><a class="delete-person" id="@person.Id">Delete</a></li>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                <strong>No Data!</strong> No person records available.
                            </div>
                            <div class=""></div>
                        }
                        }
