﻿@model SampleDemoApp.ViewModel.PersonFormViewModel
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.PageName</h2>

@using (Html.BeginForm("Save", "Person"))
{
    @Html.ValidationSummary(true, "Please fix the below errors");
    <div class="form-group">
        @Html.LabelFor(m => m.Person.FirstName)
        @Html.TextBoxFor(m => m.Person.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Person.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Person.LastName)
        @Html.TextBoxFor(m => m.Person.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Person.LastName)
    </div>
    if (ViewBag.PageName == "Edit Person")
        {
            @Html.HiddenFor(m => m.Person.EmailId);
        }
        else
        {
        <div class="form-group">
            @Html.LabelFor(m => m.Person.EmailId)
            @Html.TextBoxFor(m => m.Person.EmailId, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Person.EmailId)
        </div>
            }
        
    <div class="form-group">
        @Html.LabelFor(m => m.Person.Password)
        @Html.PasswordFor(m => m.Person.Password, new { @class = "form-control", placeholder = "********" ,@Value=Model.Person.Password})
        @Html.ValidationMessageFor(m => m.Person.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Person.DOB)
        @Html.TextBoxFor(m => m.Person.DOB,"{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Person.DOB)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Person.City)
        @Html.TextBoxFor(m => m.Person.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Person.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Person.UserTypeId)
        @Html.DropDownListFor(m => m.Person.UserTypeId, new SelectList(Model.UserTypes,"id", "UserTypeName"),"Select User Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Person.UserTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Person.UserStatusId)
        @Html.DropDownListFor(m => m.Person.UserStatusId, new SelectList(Model.UserStatus, "id", "UserStatusName"), "Select User Status", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Person.UserStatusId)        
    </div>
    @Html.HiddenFor(m => m.Person.Id);
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

