﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error
{
    color:red;
}

.input-validation-error
{
    border:2px solid red;
}

.validation-summary-errors
{
    color:blue;
}

.add-new-user {
    margin-top: 2%;
    border-radius: 8px;
}

.action-list  li{
    list-style:none;
}

.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

#loading-img {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 45%;
    top: 40%;
    z-index: 1000;
    opacity: 0.3;
}