﻿@model SampleDemoApp.ViewModel.ErrorViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="hero-unit center">
                    <h1>@Model.ErrorName</h1>
                    <br />
                    <p>@Model.ErrorMessage</p>

                    <a href="/person/index" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
                </div>
                <br />
            </div>
        </div>
    </div>
</body>
</html>
